blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body {
  max-width: 960px;
  min-width: 450px;
  margin: 0 auto;
  
}

#external-links {
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  max-width: 70%; 
  min-width: 100px; 
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; 
  padding-right: 10px;
  
}

#external-links li{
  display: block;
  padding: 2px;
}

/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/
@media screen and (max-width: 885px) and (min-width: 712px)   {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 711px) and (min-width: 540px)  {
  #external-links {
    width: 100%;
    text-align: center;

  }
  #external-links li {
    display: inline-block;
    
  }
  body {
    font-size: 10px;
    margin: 0 auto; 
  }
  main {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}


@media screen and (max-width: 539px)   {
  body {
    font-size: 8px;

  }
  #external-links {
    width: 100%;
    text-align: center;

  }
  #external-links li {
    display: inline-block;
  }
  main {
    width: 100%;
    display:block;
    margin: 0 auto;
  } 
}




